* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-color: darkgreen;
  font-size: 24px;
}

header,
footer {
  background-color: beige;
  color: black;
}

h1 {
  font-size: 50px;
  position: relative;
  margin-top: 40px;
  color: teal;
}

header {
  border-style: solid;
  width: 100%;
}

Header ul {
  text-align: right;
}

header ul li {
  list-style: none;
  display: inline;
  padding: 20px;
  text-align: right;
  color: whitesmoke;
}

nav ul li:hover,
footer ul li:hover {
  border-style: solid;
  border-color: aqua;
  font-weight: bold;
}

body {
  justify-content: center;
  align-items: center;
}

main {
  justify-content: center;
  border-style: solid 0px;
  border-width: 80%;
  max-width: 1000px;
  align-items: center;
  margin: auto;
  width: 90%;
  padding: 10px;
}

main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.aboutmeform {
  text-align: center;
  justify-content: center;
  padding: 30px;
}

.hunterpic {
  width: 15%;
  justify-content: center;
}

.hunterpic:hover {
  width: 20%;
}

.firstproj {
  border-style: solid;
  width: 800px;
  justify-content: start;
  align-items: flex-end;
  height: 800px;
  background-image: url(./images/Screenshot\ 2022-08-22\ 162103.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#firstprojtext {
  background-color: beige;
  color: teal;
  border-style: solid;
  border: 2px;
}

#sampleprojtext {
  background-color: beige;
  color: teal;
  border-style: solid;
}

.firstproj:hover,
figure:hover {
  border-style: solid;
  border-color: aqua;
}

figure {
  border-style: solid;
  width: 300px;
  height: 300px;
  background-image: url(./images/Screenshot\ 2022-08-22\ 142208.png);
  background-repeat: repeat-x;
}

figure h3 {
  margin-top: 200px;
}

footer section {
  border-style: solid;
  width: 75%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.footer-ul {
  list-style: none;
}

footer ul li {
  display: inline;
  padding: 10px;
}
