* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-color: darkgreen;
  font-size: 24px;
  border-radius: 10px;
  scroll-behavior: smooth;
}

:root {
  --background-fill: beige;
  --textcolor: teal;
  --hovercolor: aqua;
}

html {
  background-image: url(./images/farrow-and-ball-st-antoine-cream-light-beige-wallpaper-tiled-098439.jpg);
  background-size: cover;
  background-attachment: fixed;
}

header,
footer {
  /* background-color: var(--background-fill); */
  background-image: url(./images/images.jpg);
  color: black;
  background-attachment: fixed;
}

h1 {
  font-size: 50px;
  position: relative;
  margin-top: 40px;
  color: teal;
}

header {
  border-style: solid;
  width: 100%;
}

Header ul {
  text-align: right;
}

header ul li {
  list-style: none;
  display: inline;
  padding: 20px;
  text-align: right;
  color: whitesmoke;
}

nav ul li:hover,
footer ul li:hover {
  border-style: solid;
  border-color: var(--hovercolor);
  font-weight: bold;
  background-color: var(--background-fill);
}

body {
  justify-content: center;
  align-items: center;
}

main {
  justify-content: center;
  border-style: solid 0px;
  border-width: 80%;
  max-width: 1000px;
  align-items: center;
  margin: auto;
  width: 90%;
  padding: 10px;
}

main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.aboutmeform {
  text-align: center;
  justify-content: center;
  padding: 30px;
  max-width: 1400px;
  margin: auto;
  color: var(--textcolor);
}

.hunterpic {
  width: 20%;
  justify-content: center;
  box-shadow: 5px 5px 5px gray;
}

.hunterpic:hover {
  width: 25%;
}

.firstproj {
  border-style: solid;
  width: 800px;
  justify-content: start;
  align-items: flex-end;
  height: 800px;
  background-image: url(./images/Screenshot\ 2022-08-22\ 162103.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#firstprojtext {
  background-color: var(--background-fill);
  color: var(--textcolor);
  border-style: solid;
  border: 2px;
}

#sampleprojtext {
  background-color: var(--background-fill);
  color: var(--textcolor);
  border-style: solid;
}

.firstproj:hover,
figure:hover {
  border-style: solid;
  border-color: var(--hovercolor);
}

figure {
  border-style: solid;
  width: 300px;
  height: 300px;
  background-image: url(./images/Screenshot\ 2022-08-22\ 142208.png);
  background-repeat: repeat-x;
}

figure h3 {
  margin-top: 200px;
}

footer section {
  border-style: solid;
  width: 75%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.footer-ul {
  list-style: none;
}

footer ul li {
  display: inline;
  padding: 10px;
}

@media screen and (max-width: 900px) {
  .firstproj {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .hunterpic {
    width: 60%;
  }

  .firstproj {
    width: 70%;
  }

  ul li,
  ul li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  .firstproj {
    width: 90%;
  }

  ul li,
  ul li a {
    font-size: 13px;
  }

  h1 {
    font-size: 24px;
  }
}
